.fondo {
    height: max-content;
    background-image: url("images/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: black;
    background-attachment: fixed;
}

.transparente {
    opacity: 0;
}

.active {
    color: #F58840;
}

.-logo {
    margin-top: 30px;
    margin-left: 60px;
}

.contenedor-carrusel {
    background-color: black;
    border-radius: 10em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 650px;
}

.contenedor {
    background-color: black;
    border-radius: 10em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 850px;
}

.imagen-carrusel {
    text-align: center;
    height: 400px;
}

.texto-carrusel {
    color: #F58840;
}

.descripcion-juego {
    width: auto;
    margin-top: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #EADEDE;
}

/* LOADER */
.loader {
    width: 120px;
    height: 75px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.loader span {
    font-size: 25px;
    text-transform: uppercase;
    margin: auto;
}

.ball {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #000;
    animation: bounce .5s alternate infinite;
}

.ball:nth-child(2) {
    animation-delay: .16s;
}

.ball:nth-child(3) {
    animation-delay: .32s;
}

@keyframes bounce {
    from {
        transform: scaleX(1.25);
    }

    to {
        transform: translateY(-50px) scaleX(1);
    }
}

@keyframes aparecer {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes aparecer {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.card-tipo{
    background-color: rgba(255, 128, 0, 0.8);
}